<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yubin.rxlibrary">

    <application>
        <activity
            android:name="com.yubin.rxlibrary.ui.RxActivity"
            android:exported="true" />
    </application>
</manifest>