<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yubin.medialibrary">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".camera.CameraActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Activity.Translucent.FullScreen" />

        <activity
            android:name=".permissionHelper.PermissionActivity" />

        <activity
            android:name=".album.ImagePickerActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".photoPreview.PickerPreviewActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".video.VideoPlayActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Activity.Translucent.FullScreen" />
        <activity
            android:name=".video.VideoRecordActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Activity.Translucent.FullScreen" />
        <activity
            android:name=".picture.ClipPictureActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait"
            />
    </application>
</manifest>